.widget-container.fluid-height.stf-navigation(ng-controller='NavigationCtrl')
  .heading
    stacked-icon(icon='fa-paper-plane', color='color-blue')
    span(translate) Enter Text
  .widget-content.padded
    form(enable-autofill, ng-submit='openUrl()')
      .input-group.url-input-container
        input.form-control(type='text', name='textURL', placeholder='Send text to textfield..',
        autocomplete='url', ng-model='textURL', text-focus-select,
        autocapitalize='off', spellcheck='false', blur-element='blurUrl'
        accesskey='N', tabindex='10', ng-change='textUrlChanged()',
        focus-element='nav.focusUrl')
        

        .input-group-btn
          button(ng-click='openURL()', ng-disabled='!textURL', translate).btn.btn-primary-outline SendText

    
